.article {
width: 100%;
margin: auto;
padding: 10px;
margin-top: 30px;
display: flex;
justify-content: space-between;
}

.card {
margin-right: 20px;
}

.butn {
color: #0F7173;
width: 90%;
font-family: 'Quicksand', sans-serif;
}

.flex {
display: flex;
justify-content: center;
}

.butn:hover {
background-color: #0F7173;
}

.padding {
  padding-left: 10px;
}

.fontweight {
  font-weight: normal;
}
