body {
font-family: 'Quicksand', sans-serif;
font-family: 'Cookie', cursive;	
}

.logo > img {
height: 130px;
width: 130px;
object-fit: cover;
}

.fixed-nav-bar {
position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 50px;

}

.navbar {
background-color: white;
}

.navbar a {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size:17px;
color: #0F7173;
text-decoration: none;
display: flex;
justify-content: space-between;
align-items: center;	

}

.navbar a:hover {
color:#19C1C4;
}

.btn_newsletter {
font-family: 'Quicksand', sans-serif;
font-weight: medium;
color: #0F7173;
}

.btn_newsletter:hover {
color:#19C1C4;
}

.social_network {
color: #0F7173;
height: 50%;
}

.carousel {
font-family: 'Quicksand', sans-serif;
font-weight: bold;
color: white;
object-fit: cover;
}

.topmarge {
margin-top: 160px;
}

.banner {
font-family: 'Quicksand', sans-serif;
color: #0F7173;
display: flex;
justify-content: space-around;
}


.partners_link a {
text-decoration: none;
color: #0F7173;
}

.menu a {
display:flex;
align-items: flex-end;
}

.list_style {
list-style-type: none;
margin-left: 1%;
padding-left: 0%;
font-size:16px;
}

.text-size {
font-size: 16px;
}

.legal_mention {
font-size: 18px;

}

.ligne_verticale {
    width:5px;
    border-left:1px solid gray;
    height:250px;
}


.width-contact {
	width: 50%;

}

.ligne_verticale
{
    width:5px;
    border-left:1px solid gray;
    height:210px;
}

.width {
	width: 30%;
}


.partners-width {
	width: 25%;
}

.mention-width {
	width: 18%;
}

.flex-map {
	display: flex;
	justify-content: space-around;
}
